/* Reset CSS */
@charset "UTF-8";
/* Seleção universal de todos os elementos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Garante que a largura e altura incluam padding e borda */
}

/* Estilos básicos para o corpo da página */
body {
    font-family: Arial, sans-serif; /* Define a fonte padrão */
    font-size: 16px; /* Define o tamanho padrão da fonte */
    line-height: 1.6; /* Define o espaçamento entre linhas */
}

/* Remover estilos padrão de listas */
ul, ol {
    list-style: none; /* Remove marcadores de lista */
}

/* Remover margens e espaçamento do elemento de link padrão */
a {
    text-decoration: none; /* Remove sublinhado padrão */
    color: inherit; /* Herda a cor do texto padrão */
}

/* Remover decoração de texto para cabeçalhos */
h1, h2, h3, h4, h5, h6 {
    font-weight: normal; /* Define o peso da fonte como normal */
}

/* Remover espaçamento adicional para elementos de bloco aninhados */
p > *, ul > *, ol > * {
    margin-top: 0; /* Remove margem superior de elementos aninhados */
}

/* Estilos básicos para imagens */
img {
    max-width: 100%; /* Garante que as imagens não ultrapassem seu contêiner */
    height: auto; /* Mantém a proporção da imagem ao ajustar a largura */
}
